body{
    background-color: #303030;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

section {
  position: absolute;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  z-index: -1;
}

section .wave {
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  background: #4973ff;
  box-shadow: inset 0 0 50px rgba(0, 0, 0, 0.5);
  transition: 0.5s;
}

section .wave span {
  content: "";
  position: absolute;
  width: 325vh;
  height: 325vh;
  top: 0;
  left: 50%;
  transform: translate(-50%, -75%);
  background: #000;
}

.content {
  position: relative;
  z-index: 1;
  font-size: 4em;
  letter-spacing: 2px;
  color: #fff;
}

section .wave span:nth-child(1) {
  border-radius: 45%;
  background: rgba(20, 20, 20, 1);
  animation: animate 5s linear infinite;
}

section .wave span:nth-child(2) {
  border-radius: 40%;
  background: rgba(20, 20, 20, 0.5);
  animation: animate 10s linear infinite;
}

section .wave span:nth-child(3) {
  border-radius: 42.5%;
  background: rgba(20, 20, 20, 0.5);
  animation: animate 15s linear infinite;
}

@keyframes animate {
  0% {
    transform: translate(-50%, -75%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -75%) rotate(360deg);
  }
}

#title{
    animation: changeColor 3s infinite;
}

#main{
    flex: 1;
}

@keyframes changeColor {
    0%{
        color: #59b4f5;
    }
    10%{
        color: rgb(0, 195, 0);
    }
    20%{
        color: red;
    }
    30%{
        color: pink;
    }
    40%{
        color: rgb(76, 229, 191);
    }
    50%{
        color: rgb(255, 244, 40);
    }
    60%{
        color: orange;
    }
    70%{
        color: blueviolet;
    }
    80%{
        color: rgb(197, 143, 76);
    }
    90%{
        color: chartreuse;
    }
    100%{
        color: #59b4f5;
    }
}

button{
    background-color: blue;
    color: white;
    width: 150px;
    height: 40px;
    font-size: 20px;
    border-radius: 5px;
    cursor: pointer;
}

button:active{
    background-color: rgb(65, 81, 255);
}

#modal{
    display: none;
    position: fixed;
    z-index: 999;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

#modal-content{
    background-color: white;
    padding: 30px;
    border-radius: 10px;
    padding-left: 75px;
    width: 400px;
    box-shadow: 0 0 15px rgba(0,0,0,0.3);
    animation: aparecer 0.3s ease;
}

@keyframes aparecer{
    from{
        transform: scale(0.8);
        opacity: 0;
    }
    to{
        transform: scale(1);
        opacity: 1;
    }
}

a{
    color: rgb(126, 45, 255);
    text-decoration: underline;
}

@media(max-width: 600px){
    #main{
        width: 300px;
    }

    #buttons{
        flex-direction: column;
    }

    #mainBg{
        width: 300px;
    }

    #divCount{
        margin: 0;
        padding: 0;
    }

    #secondsDiv{
        width: 0;
        margin-right: 100px;
    }
}